<div class="jumbotron">
  <h1>  GetJob Rwanda </h1>
<p> Do you struggle to get a job or finding the best applicants for your job? GetJob Rwanda is the new web application that help people to post new job, and it helps the applicants to find the job at one place</p>
  <p><a href="/signup" class="btn btn-primary btn-lg">Create Account</a></p>
</div>

