<div class="container">
  <div class="row">
    <div class="col-md-0"></div>

    <div id="help" class="col-md-10">
       <div  class="jumbotron" style="padding-top: 20px;">
          <h4> Guides for using this website</h4>
          <p style="font-size: 20px;"> You did a nice choice to use <strong>GetJob Rwanda</strong>. In order to use it effectively, there some tips you need to consider while using this website.</p>
          <p style="font-size: 20px;"> If you are a job seeker, you don't need to open. You can apply for any job on homepage of this website. Every job post has its title, description, responsibilities for the job, requirements to get that job and the deadline of the application.</p>
          <p style="font-size: 20px;"> If you are an employer or a company, you must open an account as a user. With your user account, you will be able to post your job's posts for your company on <strong>GetJob Rwanda</strong>. If you want that the applicants use your website to apply, you will add the link of your website in order to facilitate the applicants to apply quickly.
          </p>
       </div> 
    </div>





