<h4> All Applications </h4>
<% @applications.each do |application| %>

  <ul>
    <li><%= application.first_name %></li>
    <li><%= application.last_name %></li>
    <li><%= link_to "Resume", application.resume_url %></li>
  </ul>

  
<% end %>