
<h2> Fill this form to apply for this job </h2>

<%= form_tag "/applications", method: :post do %>

<div class="form-group">
  <label class="control-label" for="focusedInput">Focused input</label>
  <input class="form-control" id="focusedInput" type="text" value="This is focused...">
</div>

 <div class="form-group">
      <label for="exampleInputFile">Upload Your Resume</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
 </div>

<div class="form-group">
  <label class="control-label" for="disabledInput">Disabled input</label>
  <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
</div>

<div class="form-group has-warning">
  <label class="control-label" for="inputWarning">Input warning</label>
  <input type="text" class="form-control" id="inputWarning">
</div>

<div class="form-group has-error">
  <label class="control-label" for="inputError">Input error</label>
  <input type="text" class="form-control" id="inputError">
</div>

<div class="form-group has-success">
  <label class="control-label" for="inputSuccess">Input success</label>
  <input type="text" class="form-control" id="inputSuccess">
</div>

<div class="form-group">
  <label class="control-label" for="inputLarge">Large input</label>
  <input class="form-control input-lg" type="text" id="inputLarge">
</div>

<div class="form-group">
  <label class="control-label" for="inputDefault">Default input</label>
  <input type="text" class="form-control" id="inputDefault">
</div>

<div class="form-group">
  <label class="control-label" for="inputSmall">Small input</label>
  <input class="form-control input-sm" type="text" id="inputSmall">
</div>

<div class="form-group">
  <label class="control-label">Input addons</label>
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Button</button>
    </span>
  </div>
</div>


  


  <form > 

    <div class="form-group">
      First Name <input type="text" class="form-group" name="first_name">
    </div>

    <div class="form-group">
      Last Name <input type="text" class="form-group" name="last_name">
    </div>

    <div class="form-group">
        <label for="sex">Sex</label>
        <select class="form-control" id="sex">
          <option>Male</option>
          <option>Female</option>
        </select>
    </div>

    <div class="form-group">
        <label for="nationality">Nationality</label>
        <select class="form-control" id="nationality" name="nationality">
          <option>Rwandan</option>
          <option>Burundian</option>
          <option>Tanzanian</option>
          <option>Kenyan</option>
          <option>Ugandan</option>
          <option>Other</option>
        </select>
      </div>

    <div class="form-group">
      Phone Number <input type="text" class="form-group" name="phone_number">
    </div>

    <div class="form-group">
      Email <input type="text" class="form-group" name="email">
    </div>

   


    <div class="checkbox">
      <input type="submit" class="btn btn-default" name="Create a New Post">
    </div>
  </form>
<% end %>
