<div class="container">
  <div class="row">
   <div class="col-md-6">
   
    <h4> Fill this form to apply for this job </h4>

    <%= form_tag "/applications", :multipart => true, method: :post do %>

    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

    <form>

      <input type="hidden" name="job_id" class="form_control" value="<%= @job.id %>">

      <div class="form-group">
        <label class="control-label" for="focusedInput">First Name</label>
        <input class="form-control" id="focusedInput" type="text" name="first_name">
      </div>

      <div class="form-group">
        <label class="control-label" for="focusedInput">Last Name</label>
        <input class="form-control" id="focusedInput" type="text" name="last_name">
      </div>

      <div class="form-group">
        <label class="control-label" for="focusedInput">Gender</label>
        <select class="form-control" id="focusedInput" name="sex" placeholder="Select your gender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <div class="form-group">
        <label for="focusedInput" class="control-label">Nationality</label>
        <select class="form-control" id="focusedInput" name="nationality" placeholder="Select your nationality">
          <option>Rwandan</option>
          <option>Burundian</option>
          <option>Tanzanian</option>
          <option>Kenyan</option>
          <option>Ugandan</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label" for="focusedInput">Phone Number</label>
        <input class="form-control" id="focusedInput" type="text" name="phone_number">
      </div>

      <div class="form-group">
        <label for="emai1">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>


       <div class="form-group">
            <%= label_tag :resume %>
            <%= file_field_tag :resume %>
       </div>

       <div class="form-group">
            <label for="exampleInputFile">Upload Additional Files/Documents</label>
            <input type="file" class="form-control-file" id="exampleInputFile" name="addition_docs" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Upload your files with format of docx or pdf.</small>
       </div>

        <div class="form-group">
            <label>Cover Letter</label>
            <p>You can write in that box or copy from a word document</p>
            <textarea name="cover_letter"></textarea>
              <script>
                  CKEDITOR.replace( 'cover_letter' );
              </script>
          </div>

       <div class="form-group">
        <label for="focusedInput" class="control-label">Highest Degree</label>
        <select class="form-control" id="focusedInput" name="highest_degree" placeholder="Select your highest degree">
          <option>PhD</option>
          <option>Bachelor degree</option>
          <option>Diplomat</option>
          <option>Certificate</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="focusedInput" class="control-label">Experience</label>
        <select class="form-control" id="focusedInput" name="experience" placeholder="Select your experience">
          <option>Over 3 years</option>
          <option>2 years</option>
          <option>1 year</option>
          <option>Other</option>
        </select>
      </div>

      <div class="checkbox">
        <input type="submit" class="btn btn-primary active" name="Submit your application">
    </div>

    </form>
<% end %>
</div>
</div>
</div>























 