<div class="container">
  <div class="row">

    <div id="jumb" class="col-md-12">
     <div  class="jumbotron">
     <p> Successful Applied!!!</p>
      <p>Thank you for appying! We hope you will get this position. If you are choosen to come for interview, you will receive an email from the employer.</p>

      <p> Good luck!</p>
     </div> 
    </div>
  </div>
</div>
