
<%= button_to "Add New Job Post", "/jobs/new", method: :get %>

<div class="container-fluid">
 <div class="jumbotron">
  <div class="row">
    <% @jobs.each do |job| %>
      <div class="col-sm-8 text-left"> 
        <h3><%= link_to job.title, "/jobs/#{job.id}" %></h3>
        <p><%= job.description %></p>
      </div>
    <% end %>
  </div>
 </div>
</div>


