<h2> Create New Account <h2>

<%= form_tag '/users', method: :post do  %>
  <div>
    First Name:
    <input type="text" name="first_name">
  </div>

   <div>
    Last Name:
    <input type="text" name="last_name">
  </div>


  <div>
    Email:
    <input type="email" name="email">
  </div>

  <div>
    Password:
    <input type="password" name="password">
  </div>

  <div>
    Confirm Password:
    <input type="password" name="password_confirmation">
  </div>

  <div>
    User Type:
    <select name="role_id">
      <option value="" disabled selected>Select your option</option>
      <% @roles.each do |role| %>
        <option value="<%= role.id %>" <%= "selected" if @user.role_id == role.id %>><%= role.user_type %></option>
      <% end %>
    </select>
      
  </div>

  <input type="submit" value="Submit">
<% end %>