<h4>Applications Notification</h4>


  <p>Dear <%= @job.company_name %>,</p>

  <p>We are very happy to work with you. There is a new application to your vacant post of <%= @job.title %>. To view this new application, go to your GetJob account and click on your job post.</p>
    

  <p>Best,</p>

  <p><strong>GetJob App</strong></p>
  <p>Kigali,Rwanda</p>


