
<h2> Your Company Profile </h2>
<table class="table table-bordered">
  <tr>
    <th>  Name  </th>
    <th>  Address  </th>
    <th>  Email  </th>
    <th>  Description </th>
  </tr>
  <tr>
    <td><%= @company.name %></td>
    <td><%= @company.address %></td>
    <td><%= @company.email %></td>
    <td><%= @company.description %></td>    
  </tr>

</table>